.travel-mania-nav-bg{
    background-color: rgb(18, 189, 231);
}

.travel-mania-button{
    background-color: rgb(250, 109, 84);
    color: white;
    border: none;
    margin-top: 29px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.travel-mania-icons{
    background-color: rgb(247, 149, 149);

}
